.custom-modal {
    --height: 100vh; /* Altura igual a la altura de la ventana */
    --width: 100vw; /* Ancho igual al ancho de la ventana */
    --max-width: 100%; /* Ancho máximo para asegurar que no sea demasiado grande */
    --max-height: 50%; /* Altura máxima para asegurar que no sea demasiado grande */
}
.IonCardDate{
  width: 100%;
}


/* .IonGrid{
  --ion-grid-column-padding:20px
} */