.custom-modal {
    --height: 100vh; /* Altura igual a la altura de la ventana */
    --width: 100vw; /* Ancho igual al ancho de la ventana */
    --max-width: 100%; /* Ancho máximo para asegurar que no sea demasiado grande */
    --max-height: 99%; /* Altura máxima para asegurar que no sea demasiado grande */
}
.IonCardDate{
  width: 100%;
}

.Box-Button{
  --border-radius: 50%;
  width:230px; 
  height:230px;
  --box-shadow: 0 2px 6px 0 rgba(75, 67, 67, 0.899);
}

.boxRow{
  display: flex;
  column-gap: 5rem;
}
