:root {
  --ion-color-primary: #387ef5; /* Azul más oscuro */
  --ion-color-secondary: #11aaaa; /* Verde más oscuro */
  --ion-color-tertiary: #5e5ce6; /* Morado más oscuro */
  --ion-color-success: #0ec254; /* Verde éxito más oscuro */
  --ion-color-warning: #e0b400; /* Amarillo advertencia más oscuro */
  --ion-color-danger: #d33939; /* Rojo peligro más oscuro */
  --ion-color-dark: #1e2023; /* Casi negro */
  --ion-color-medium: #737373; /* Gris más oscuro */
}


.card-header-custom {
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: center;
  }
  
  .machine-icon img {
    width: 170px; 
    height: auto;
    margin-right: 10px; /* Espacio entre el icono y el título */
  }
  
  .machine-title {
    flex-grow: 1;
  }

  /* ExtruderStatus.css */
.filter-button {
    --padding-start: 20px; /* Espaciado interno izquierdo */
    --padding-end: 20px; /* Espaciado interno derecho */
    --padding-top: 10px; /* Espaciado interno superior */
    --padding-bottom: 10px; /* Espaciado interno inferior */
    width: 150px; /* Ancho del botón */
    height: 50px; /* Altura del botón */
    margin: 0 10px; /* Margen para separar botones */
    border-radius: 20px; /* Bordes redondeados */
  }
  
  .size-modal{
      --height: 50vh; /* Altura igual a la altura de la ventana */
      --width: 50vw; /* Ancho igual al ancho de la ventana */
      --max-width: 30%; /* Ancho máximo para asegurar que no sea demasiado grande */
      --max-height: 50%; /* Altura máxima para asegurar que no sea demasiado grande */
  }